StudyingXML/src/main/java/com/work/vladimirs/validate_xmlschema/user.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstname" type="StringPattern" nillable="false"/>
                <xs:element name="lastname" type="StringPattern" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="StringPattern">
        <xs:restriction base="xs:string">
            <xs:pattern value=".+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>